main{
  display:grid;
  margin:0;
  grid-template-columns:40% 40% 20%;
  grid-template-rows: 70px auto;
  grid-template-areas: "hd hd hd"
                       "ts p  sn";
}
#header{
  grid-area:hd;
  overflow:hidden;
  border:2px solid black;
}
#teamsearch{
  grid-area:ts;
  display:inline;
}
#posts{
  grid-area: p;
}
#sport_feed{
  grid-area:sn;
}
